{% extends "base.html" %}
{% block title %}Главная{% endblock %}

{% block content %}
<div class="products">
  {% for product in products %}
    <div class="product-wrapper">
      <a href="{% url 'product_details' product.id %}" class="product-card-link">
        <div class="product-card">
          <p class="product-category">{{ product.category.name }}</p>
          <div class="product-img">
            <img src="{{ product.image.url }}" alt="{{ product.name }}" />
          </div>
          <p class="product-price">{{ product.price }} ₽</p>
          <div class="product-info">
            <p class="product-brand">{{ product.brand.name }}</p>
            <p class="product-name">{{ product.name }}</p>
          </div>
        </div>
      </a>

      <!-- Кнопка "В корзину" под карточкой -->
      <a href="{% url 'cart_add' product.id %}" class="product-button">
        В корзину
      </a>
    </div>
  {% endfor %}
</div>

<!-- Пагинация -->
<div class="pagination">
  {% if products.has_previous %}
    <a href="?page=1" class="page-link">&laquo; Первая</a>
    <a href="?page={{ products.previous_page_number }}" class="page-link">&lsaquo; Предыдущая</a>
  {% endif %}

  {% for num in page_range %}
    {% if num == products.number %}
      <a href="?page={{ num }}" class="page-link active">{{ num }}</a>
    {% else %}
      <a href="?page={{ num }}" class="page-link">{{ num }}</a>
    {% endif %}
  {% endfor %}

  {% if products.has_next %}
    <a href="?page={{ products.next_page_number }}" class="page-link">Следующая &rsaquo;</a>
    <a href="?page={{ products.paginator.num_pages }}" class="page-link">Последняя &raquo;</a>
  {% endif %}
</div>
{% endblock %}
