{% extends "base.html" %}
{% block content %}
<div class="product-containers">
  <div class="categories">
    {% for category in categories %}
      <div class="category">{{ category.name }} /</div>
    {% endfor %}
  </div>
  <div class="product-details">
    <div class="product-details-image">
      <img class="images" src="{{ product.image.url }}" alt="{{ product.name }}">
    </div>
    <div class="product-details-info">
      <h1 class="name-tovar">{{ product.name }}</h1>
      <p class="desc">{{ product.desc }}</p>
      <p class="prod-price">{{ product.price }}₽</p>
      <a href="{% url 'cart_add' product.id %}" class="product-button">
        Добавить в корзину
      </a>
    </div>
  </div>
</div>
{% endblock %}
