{% extends "base.html" %}
{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<div class="product-details-container">
  <!-- Хлебные крошки -->
  <div class="breadcrumbs">
    {% for category in categories %}
      <span class="breadcrumb">{{ category.name }}</span>
      {% if not forloop.last %}
        <span class="breadcrumb-separator">/</span>
      {% endif %}
    {% endfor %}
  </div>
  <div class="product-main">
    <div class="product-image">
      <img src="{{ product.image.url }}" alt="{{ product.name }}">
    </div>
    <div class="product-info">
      <div class="product-price">{{ product.price }} ₽</div>
      <h1 class="product-title">{{ product.name }}</h1>
      <div class="product-brand">Бренд: <strong>{{ product.brand.name }}</strong></div>
      <a href="{% url 'cart_add' product.id %}" class="product-button">В корзину</a>
    </div>
  </div>
  <div class="product-description">
    <h2>Описание</h2>
    <p>{{ product.desc }}</p>
  </div>
</div>
{% endblock %}
