{% load static %}
<header>
  <div class="logo">
    <a href="{% url 'index' %}">
      <img src="{% static 'img/logoWb.svg' %}" alt="Логотип">
    </a>
  </div>

  <nav>
    <div class="nav-links">
      <div class="nav-link"><a href="{% url 'index' %}">Каталог</a></div>
      <div class="nav-link"><a href="#">О нас</a></div>
      <div class="nav-link"><a href="#">Контакты</a></div>

      <!-- Ссылка на корзину -->
      <div class="nav-link cart-link">
        <a href="{% url 'cart_detail' %}">
          <img src="{% static 'img/cart-icon.svg' %}" alt="Корзина" width="24" height="24">
          <span id="cart-count">{{ cart_total_quantity|default:0 }}</span>
        </a>
      </div>

      {% if user.is_authenticated %}
        <span class="user1234">Привет, {{ user.username }}!</span>
        <form action="{% url 'logout' %}" method="post" style="display:inline;">
          {% csrf_token %}
          <button type="submit" class="frgtg">Выйти</button>
        </form>
      {% else %}
        <a class="header-auth-link" href="{% url 'login' %}">Войти</a>
        <a class="header-auth-link" href="{% url 'register' %}">Регистрация</a>
      {% endif %}
    </div>
  </nav>
</header>